*{color: #A5AFAF;;}
.loading{
margin-top: 150px;
}
body{
    background-color: #56565A ;
}
.detailBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.gameDetailImage{
    width: 600px;
    display: block;
    position: relative; 
    margin-left: 100px;
    border: 2px solid #A5AFAF;
    margin-right: 150px;
}
.description{
    display: inline-block;
    max-width: 80%;
    border: 1px solid black;
    font-size: 20px;
    background-color: #192734;
    border: 2px solid #A5AFAF;
    margin-top: 25px;
}
.data{
    width: 50%;
    font-size: 18px;
    font-family: -webkit-body;
}
.titleDescription{
    font-size: 25px;
}