*{color: #A5AFAF;;}
.error{
    color: brown;
}
body{
    background-color: #56565A ;
}
.detailBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.gameDetailImage{
    width: 600px;
    display: block;
    position: relative; 
    margin-left: 100px;
    border: 2px solid #A5AFAF
}
.description{
    display: inline-block;
    max-width: 80%;
}
.data{
    width: 50%;
    font-size: 18px;
    font-family: -webkit-body;
}
.titleDescription{
    font-size: 25px;
}