
.ENTER_BUTTON{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.enter{
    font-size: 80px;
    color: beige;
}
body{
   background-image: url('./landing_image1.jpg');
}